<div class="container">

	<h2>Calendar events</h2>
	<ul>
		<li ng-repeat="calendarEvent in calendarEvents">{{calendarEvent.Subject}}</li>
	</ul>

	<h2>Messages</h2>
	<ul>
		<li ng-repeat="message in messages">{{message.Subject}}</li>
	</ul>

	<h2>ODB files</h2>
	<ul>
		<li ng-repeat="file in files">{{file.name}}</li>
	</ul>

	<h2>My notebooks</h2>
	<ul>
		<li ng-repeat="notebook in notebooks">{{notebook.name}}</li>
	</ul>

	<h2>My groups</h2>
	<ul>
		<li ng-repeat="group in groups">{{group.displayName}}</li>
	</ul>

</div>